@using Store.Models
@model IEnumerable<BrandModel>
@{
    ViewBag.Title = "Главная страница";
}


<div class="main">
    <div class="sale">
        <p>Бренды</p>
        @foreach (var brand in Model)
        {
            <a href="samsung.html" class="saleItem">
                <div class="image">
                    <img src="data:@brand.ImageData.Type;base64,@brand.ImageData.Content">
                </div>
                <div class="description">@brand.Name</div>
            </a>
        }
    </div>
</div>