@model Store.Models.MainPageModel
@{
    ViewBag.Title = "Главная страница";
}


<div class="main">
    <div class="sale">
        <p>Распродажа</p>
        <a href="samsung.html" class="saleItem">
            <div class="plate">
                sale
            </div>
            <div class="image">
                <img src="/images/samsung.jpg">
            </div>
            <div class="description">Samsung</div>
        </a>
        <a class="saleItem">
            <div class="plate">
                sale
            </div>
            <div class="image">
                <img src="/images/apple.jpg">
            </div>
            <div class="description">Apple</div>
        </a>
        <a class="saleItem">
            <div class="plate">
                sale
            </div>
            <div class="image">
                <img src="/images/xiaomi.jpg">
            </div>
            <div class="description">Xiaomi</div>
        </a>
        <a class="saleItem">
            <div class="plate">
                sale
            </div>
            <div class="image">
                <img src="/images/meizu.jpg">
            </div>
            <div class="description">Meizu</div>
        </a>
        <a class="saleItem">
            <div class="plate">
                sale
            </div>
            <div class="image">
                <img src="/images/iphone.jpg">
            </div>
            <div class="description">iPhone</div>
        </a>
    </div>
</div>
<footer>
    <div class="left">©2018</div>
    <div class="right">Цены в розничных магазинах могут отличаться от цен, указанных на сайте.</div>
</footer>