@model Store.Models.BrandModel


<form asp-action="AddBrand" asp-controller="Brand" method="post" enctype="multipart/form-data">
    @Html.DisplayNameFor(m => m.Name)
    @Html.TextBoxFor(m => m.Name)

    @Html.DisplayNameFor(m => m.Image)
    <input name="Image" type="file" class="form-control" />

    <input type="submit" value="Добавить" />
</form>