@model Store.Models.Account.RegisterModel

@{
    Layout = "";
}

<div class="reg" id="reg">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "RegisterForm" }))
    {
        <a class="close" href=""></a>
        <p>Регистрация</p>
        @Html.TextBoxFor(m => m.Email)
        <span asp-validation-for="Email"></span>
        @Html.TextBoxFor(m => m.Login)
        <span asp-validation-for="Login"></span>
        @Html.EditorFor(m => m.Password)
        <span asp-validation-for="Password"></span>
        @Html.EditorFor(m => m.ConfirmPassword)
        <span asp-validation-for="ConfirmPassword"></span>
        <input value="Зарегистрироваться" type="button" onclick="send()">
    }
</div>
<div class="background"></div>
<script>
    function send() {
        var formData = $("#RegisterForm").serialize();
        $.ajax({
            url: "/AjaxValidator/CheckRegisterModel",
            type: "POST",
            data: formData,
            success: function (json) {
                if (json.isSuccess) {
                    $("#RegisterForm").submit();
                } else {
                    $.ajax({
                        url: "/Account/Register",
                        type: "POST",
                        data: formData,
                        success: function (res) {
                            $("#register").empty();
                            $("#register").html(res);
                        },
                        error: function () {
                            $("#register").empty();
                        }
                    });
                }
            },
            error: function () {
                console.log(123);
            }
        });
    }
</script>