@model Store.Models.Account.ResetPasswordModel

@{
    Layout = null;
}

<div class="in" id="in">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "ResetForm" }))
    {
        <a class="close" href="javascript: close()"></a>
        <p>Восстановление пароля</p>
        <div id="reset-info">
            @Html.TextBoxFor(m => m.Email)
            <input value="Восстановить" type="button" onclick="reestablish()">
            <div class="line"></div>
            <p>
                если у вас еще нет учетной записи, <a href="javascript: startRegister()">зарегистрируйтесь</a>
            </p>
        </div>
    }
</div>
<div class="background"></div>

<script>
    function close() {
        $("#reset").empty();
    }

    function reestablish() {
        var formData = $("#ResetForm").serialize();
        $.ajax({
            url: "@Url.Action("CheckResetModel", "AjaxValidator")",
            type: "POST",
            data: formData,
            success: function (json) {
                if (json.isSuccess) {
                    $.ajax({
                        url: "@Url.Action("ResetPassword", "Account")",
                        type: "POST",
                        data: formData,
                        success: function (res) {
                        },
                        error: function () {
                        }
                    });
                    $('#reset-info').empty();
                    $('#reset-info').html('Для восстановления пароля зайдите на почту и пройдите по ссылке.');
                } else {
                    $.ajax({
                        url: "@Url.Action("ResetPassword", "Account")",
                        type: "POST",
                        data: formData,
                        success: function (res) {
                            $("#reset").empty();
                            $("#reset").html(res);
                        },
                        error: function () {
                            $("#reset").empty();
                        }
                    });
                }
            },
            error: function () {
            }
        });
    }
</script>