@{
    var isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    <link rel="stylesheet" href="index.css">
    <script type="text/javascript" src="dist/jquery-3.3.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.validator && window.jQuery.validator.unobtrusive">
    </script>
</head>
<body>
    <header>
        <div class="auth">
            <img src="images/avatar_male_250x250.png" class="profile">
            @if (!isAuthenticated)
            {
                <a href="javascript: login()">Вход</a>
                <span id="login"></span>
                <span> / </span>
                <a href="javascript: register()">Регистрация</a>
                <span id="register"></span>
            }
            else
            {
                <a href="">@User.Identity.Name</a>
            }
        </div>
    </header>
    <div class="logo">
        <img class="main-logo" src="images/23020996.png">
        <form id="form">
            <input type="text" class="search" placeholder="Поиск товара">
            <input class="submit" value type="submit">
        </form>
        <div class="cart-container">
            <a class="cart"></a>
            <span class="cost">Нет товаров</span>
        </div>
    </div>
    <nav class="menu-container">
        <ul class="menu">
            <li class="catalog"><a><img src="images/catalog.png">Каталог товаров<img src="images/catalog-arrow.png"></a></li>
            <li><a>Каталог товаров</a></li>
            <li><a>Каталог товаров</a></li>
            <li><a>Каталог товаров</a></li>
            <li><a>Каталог товаров</a></li>
        </ul>
    </nav>
    @RenderBody()
    @RenderSection("scripts", false)
    <script>
        function login() {
            $.ajax({
                url: "/Account/Login",
                type: "GET",
                success: function (data) {
                    $("#login").empty();
                    $("#login").html(data);
                },
                error: function () {
                    $("#login").empty();
                }
            });
        }
        function register() {
            $.ajax({
                url: "/Account/Register",
                type: "GET",
                success: function (data) {
                    $("#register").empty();
                    $("#register").html(data);
                },
                error: function () {
                    $("#register").empty();
                }
            });
        }
    </script>
</body>
</html>