@{
    
}

<table class="orders-table">
    <caption>Список заказов</caption>
    <tr>
        <th>Номер заказа</th>
        <th>ФИО</th>
        <th>Номер телефона</th>
        <th>Способ доставки</th>
        <th>Адрес</th>
        <th></th>
    </tr>
    <tr>
        <td>1</td>
        <td>ФИО</td>
        <td>98282828</td>
        <td>Курьерская</td>
        <td>Улица</td>
        <td><input type="button" value="Исполнен"/></td>
    </tr>
</table>